<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>货物管理系统-登录页</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script src="../../scripts/boot.js" type="text/javascript"></script>
    <script src="../../myJS/common.js" type="text/javascript"></script>

</head>
<body style="background-image: url('/images/back.png');text-align: center">
<h1>员工登录</h1>

<div id="form1">
    <table style="margin: 0 auto">
        <tr>
            <td><label for="userid$text">工号：</label></td>
            <td>
                <input id="uId" name="uId" class="mini-textbox" required="true" requiredErrorText="工号不能为空"/>
            </td>
        </tr>
        <tr>
            <td><label for="pwd$text">密码：</label></td>
            <td>
                <input id="password" name="password" class="mini-password" required="true" minLengthErrorText="密码不能少于5个字符" />

            </td>
        </tr>
        <tr>
            <td>
                <input value="登录" type="button" onclick="submitForm()" />
            </td>
            <td>
                <input value="忘记密码？" type="button" onclick="findPwd()" />
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    mini.parse();

    check();
    function check(){
       if(checkCookie() === 1){
           getCookie();
           turnByLogin(userLevel);
       }
    }

    document.cookie = "";

    function findPwd() {
        window.open('/pages/personMsg/findPwd.html','_blank');
    }

    function submitForm() {

        var form = new mini.Form("#form1");

        form.validate();
        if (form.isValid() == false) {
            return;
        }

        //提交数据
        var data = form.getData();
        var json = mini.encode(data);
        $.ajax({
            url: "/logindetail/login",
            type: "post",
            async: false,
            data: {userJSON: json},
            success: function (text) {
                if (text != 'fail') {
                    mini.alert("登录成功", "提示", function () {
                        var uId = JSON.parse(json).uId;
                        var detail = text.split("-")[0];
                        var userLevel = text.split("-")[1];
                        setCookie(uId,detail, userLevel);
                        turnByLogin(userLevel);
                    });
                }else{
                    mini.alert("登录失败，检查工号/密码是否正确<br>或者是否已在其他设备/浏览器登录", "提示");
                }
            },
            error: function(text){
                mini.alert("登录失败，检查工号/密码是否正确","提示");
            }
        });
    }

    // 用户登录时判断用户类型并进行相应页面的跳转
    function turnByLogin(userLevel){
        if (userLevel === '2') {
            window.location.href = "/pages/admin.html";
        }
        if (userLevel === '0') {
            window.location.href = "/pages/depot.html";
        }
        if (userLevel === '1') {
            window.location.href = "/pages/inventory.html";
        }
    }

</script>
</body>
</html>